body {
    background-color: aqua;
    font-family: "Open Sans Condensed";
    font-size: 3rem;
    * {
        padding: 0;
        margin: 0;
    }
}

.container {
    // Any child element of div.cotainer will have a different background
    * {
        background-color: rgb(18, 22, 87);
        color: white;
        margin-bottom: 10px;
    }

    max-width: 1200px;
    //any extra space is distributed to the left and right, keeping our div in center
    margin: 0 auto;

    .jumbotron {
        height: 500px;
    }

    .stats {
        height: 30vh;
    }

    .testimonials {
        height: 30vh;
    }

    .paynow {
    }

    .fab {
    }
}
